tr:nth-child(odd) {
    background-color: #8f6ccc;
     color: #fff;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

td {
    padding: 12px 15px;
}

tr {
    border-bottom: 1px solid #dddddd;
}

h1,table {
   text-align: center;
}