<h1> Activities </h1>

<table>
    <tr>
        <th> Activity </th>
        <th> Type </th>
        <th> Participants </th>
        <th> Price</th>
        <th> Link</th>
        <th> Key </th>
        <th> Accessibility </th>
    </tr>   
    <tr *ngFor="let activity of activities | async">
        <td> {{activity.activity}} </td>
        <td> {{activity.type}}</td>
        <td> {{activity.participants}}</td>
        <td> {{activity.price}}</td>
        <td> {{activity.link}}</td>
        <td> {{activity.key}}</td>
        <td> {{activity.accessibility}}</td>
    </tr>
</table>
